.section_hidden{
    display:hidden;
    visibility:hidden;
}
.warehouses__section{
    background-color:#041D2C;
    opacity: 1;
    color:var(--primary-text-color);
    position: relative;
    background-image: url('../../assets/images/airplane_sec.png');
    background-size: cover;
    background-position: center;
    padding-left:5%;
    padding-right:5%;
    
}

.borders{
    position:relative;
    @media(max-width:600px){
        display:flex;
        padding-left:1%;
        padding-right:1%;
        border-left: 1px solid rgba(43, 61, 82, 0.30);
        border-right: 1px solid rgba(43, 61, 82, 0.30);
    }
    @media(min-width:600px) and (max-width:1050px){
        display:flex;
        padding-left:1%;
        padding-right:1%;
        border-left: 1px solid rgba(43, 61, 82, 0.30);
        border-right: 1px solid rgba(43, 61, 82, 0.30);
    }
    @media(min-width:1050px){
        display:grid;
        padding-left:1%;
        padding-right:1%;
        border-left: 1px solid rgba(43, 61, 82, 0.30);
        border-right: 1px solid rgba(43, 61, 82, 0.30);
    }
}

.logo__text_name{
    color: var(--light-blue-text);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    @media(max-width:600px) {
        font-size: 8px;
        letter-spacing: 0.8px;
    }
    @media(min-width:600px) and (max-width:1050px){
        font-size:10px;
        letter-spacing:1px;
    }
    @media(min-width:1050px)and(max-width:1300px){
        font-size:12px;
        letter-spacing:1.2px;
    }
    @media(min-width:1300px) {
        font-size: 14px;
        letter-spacing: 1.4px;
    }
}

.header_text{
    font-style: normal;
    font-weight: 600;
    @media(max-width:600px) {
        font-size: 28px;
        line-height: 32px;
    }
    @media(min-width:600px) and (max-width:1300px){
        font-size: 32px;
        line-height: 42px;
    }
    @media(min-width:1300px) {
        font-size: 50px;
        line-height: 60px;
    }
}

.warehouse__text_bold{
    color:var(--primary-text-color);
    font-style: normal;
    font-weight: 600;

    @media(max-width:1050px){
        font-size: 14px;
        line-height: 20px;
    }
    @media(min-width:600px) and (max-width:1050px){
        font-size: 14px;
        line-height: 24px;
    }
    @media(min-width:1050px){
        font-size: 16px;
        line-height: 24px;
    }
    
}
.warehouse__text_italic{
    color:var(--invisible-text);
    font-style: normal;
    font-weight: 400;
    @media(max-width:1050px){
        font-size: 14px;
        line-height: 20px;
    }
    @media(min-width:1050px){
        font-size: 16px;
        line-height: 24px;
    }
}
.warehouse__button_size{
    border: 1px solid rgba(255, 255, 255, 0.36);
    @media(max-width:1050px) {
        padding:22px 70px;
    }
    @media(min-width:1050px){
        padding:24px 56px;
    }
    
}