.section_hidden{
    display:hidden;
    visibility:hidden;
}
.warehouses__section{
    background-color:#16212E;
    opacity: 0.85;
    color:var(--primary-text-color);
    position: relative;
    background-image: url('../../assets/images/airplane_sec.png');
    background-size: cover;
    background-position: center;
}

.conteiner{
    @media(min-width:600px) and (max-width:1050px){
        max-width:90%;
        padding-left:1%;
        padding-right:1%;
    }
    @media(min-width:1050px){
        /* max-width:90%; */
    }
}
.logo__text_name{
    color: var(--light-blue-text);;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.header_text{
    /* text-align: center; */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.warehouse__text_bold{
    color:var(--primary-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 153.846% */
}
.warehouse__text_italic{
    color:var(--invisible-text);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
}
