.calc__section{
    background:url('../../../assets/images/map_calc_bg_small.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
}
.calc__container_section{
    color:white;
    position:relative;
    padding-left:5%;
    padding-right:5%;
    /*max-width:1850px; */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}
.radioGroup{
    display:flex;
    align-items:start;
    width:100%;
    padding-left:1%;
}
.calc__container_div{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-left: 1px solid rgba(43, 61, 82, 0.30);
    border-right: 1px solid rgba(43, 61, 82, 0.30);
}
.section_hidden{
    display:hidden;
    visibility:hidden;
}
.borders{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100%;
    padding-top:60px;
    padding-bottom:60px;
    max-width: 1600px;
    position:relative;
    padding-left:2%;
    padding-right:2%;
    }
.container{
    width:100%;
    @media(max-width: 1050px){
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    @media(min-width:1050px){
        display:grid;
        grid-template-columns:35% 60%;
        gap:5%;
        padding-left:1%;
        padding-right:1%;
}
}
.calc__container_stepOne{
    
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-between;
    /* padding:60px 0px ; */
    max-width:470px;
    /* max-width:75%; */
    @media(max-width:1050px){
        justify-content:center;
    }
}
.calc__container_stepTwo{
    @media(max-width:1050px){
        visibility:hidden;
        display:none;
        width:100%;
    }
    @media(min-width:1050px){
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
}

.calc__header_text{
    text-align: center;
    
    @media(max-width:1050px){
        line-height: 32px; /* 114.286% */
        padding-bottom:30px;
    }
    @media(min-width:1050px) and (max-width:1500px) {
        line-height: 42px; /* 131.25% */
        padding-bottom:20px;
    }
    @media(min-width:1500px){
        line-height: 60px; /* 120% */
        padding-bottom:64px;
    }
}

.calc__text_step{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:20px;
}

.calc__container_number{
    border: 1px solid rgba(188, 201, 218, 0.2);
    min-width:40px;
    min-height:40px;
    border-radius:1px;

    display:flex;
    align-items:center;
    justify-content:center;
}

.calc__number{
    color: var(--light-blue-text);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.calc__text{
    padding-left:15px;
    color: var(--invisible-text);
}

.calc__radio_container{
    display: grid;
    grid-template-rows:20px;
    grid-template-columns: 50% 50%;
    gap:20px;
    padding-bottom:35px;
    @media(max-width:1050px){
        padding-left:1%;
    }
}

.custom__radio{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items:start;
    
}


/* Скрываем штатные радио-кнопки */
.custom__radio input{
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
}
/* Устанавливаем параметры элементов, заменяющих штатные радио-кнопки */
.custom__radio .radio{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-right: 5px;
    border: 1px solid rgba(34, 124, 228, 0.36);
    background-color: inherit;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    transition: .5s all;
}

  /* Устанавливаем параметры элементов, заменяющих штатные радио-кнопки при наведении */
.custom__radio:hover .radio{
    background-color: inherit;
    transform: scale(1.1);
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
}
  /* Устанавливаем параметры элементов, заменяющих штатные выбранные радио-кнопки */
/* .custom__radio input:checked + .radio{
    border-color: rgba(34, 124, 228, 0.36);
    background-color: inherit;
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.1);
    cursor: default;
}   */
  /* Добавляем декор */
.custom__radio:hover .radio::before, .custom__radio input:checked + .radio::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color:rgba(34, 124, 228, 0.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.custom__radio input:checked + .radio::before{
    background-color: rgba(34, 124, 228, 1);
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
}
  /* Устанавливаем параметры подписей радио-кнопок */
.custom__radio input + .radio + .text{
    cursor: pointer;
    color: var(--White, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    margin-right: 15px;
    align-self: center;
}
/* Устанавливаем параметры подписей выбранных радио-кнопок
.custom__radio input:checked + .radio + .text{
    color: #555;
    cursor: default;
  } */

.separate_line{
    @media(max-width:1050px){
        border: 1px solid rgba(85, 122, 161, 0.30);
        width:100svw;
    }
    @media(min-width:1050px){
        display:hidden;
        visibility:hidden;
    }
}

.calc__container_results{
    max-width: 470px;
    @media(max-width:1050px){
        display:grid;
        grid-template-rows:auto auto auto auto;
        gap:auto;
    }
    @media(min-width:1050px){
        display:grid;
    }
}
.calc__container_stepTwo_without_number{
    padding-left:1%;
    @media(max-width:1050px){
        visibility:hidden;
        display:none;
    }

}
.calc__container_results_dateLaptop{
    @media(max-width:1050px){
        display: grid;
        grid-template-rows: 20px;
        grid-template-columns: 50% 50%;
        gap: 20px;
        padding-bottom: 35px;
    }
    @media(min-width:1050px){
        display:grid;
        grid-template-columns: 50% 50%;
        padding-bottom:20px;
        gap:3%;
        
    }
}
.calc__container_results_date1{
    
    @media(max-width:1050px){
        display:none;
        visibility:hidden;
    }
    @media(min-width:1050px){
        padding-top:20px;
        display:grid;
        grid-template-columns: 55% 45%;
        width:250px;
    }
}

/* .calc__container_results_date2{
    
    @media(max-width:1050px){
        display: grid;
        grid-template-rows: 20px;
        grid-template-columns: 50% 50%;
        gap: 20px;
        padding-bottom: 35px;
    }
    @media(min-width:1050px){
        display:none;
        visibility:hidden;
    }
} */
/* .calc__container_stepTwo_without_number{
    width: 110%;
} */
.date{
    position: relative;
    @media(max-width:1050px){
        min-width:95px;
        width:45%
    }
    @media(min-width:1050px){
        width:100%;
    }
}
.datepicker_input {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.datepicker_input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.datepicker__toggle_button{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(188, 201, 218, 0.2);
    display:flex;
    align-items:center;
}

.legend_second{
    @media(max-width:1050px){
        padding-top:25px;
        padding-left:1%;
    }
}

.map__section{
    @media(min-width:1050px){
        padding-right:30px;
        display:flex;
    }
}
.map__way{
    @media(max-width:1050px){
        background-color:inherit;
        display:none;
        visibility:hidden;
    }
    @media(min-width:1050px){
        background:rgba(85, 122, 161, 0.2);
        width:100%;
        height:100%;
    }
}
/* .map__div{
    @media(min-width:1050px){
        padding-left:2%;
        padding-right:2%;
        padding-top:3%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        min-height:350px;
    }
} */

.country__name{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
    
}

.country__name_main{
    /* display:none;
    visibility:hidden; */
    @media(max-width:1050px){
        display:flex;
        gap:8px;
        padding-bottom:20px;
    }
    @media(min-width:1050px){
        display:none;
        visibility:hidden;
    }
}
.way{
    max-height:50%;
    width:95%;
    padding-bottom:20px;
}
.visibility{
    @media(max-width:1050px){
        display:none;
        visibility:hidden; 
    }
}
.bg_icon_big{
    position:absolute;
    right:0;
    top:0;
}
.map_icon_small_bg{
    position:absolute;
    left:0;
    bottom:0;
    background:url('../../../assets/images/map_calc_bg_small.svg');
}