.brocker__content{
    position: relative;
    width:100svw;
    width:100%;
    background-image:url('../../assets/images/BrockersBG.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.brocker__content_section{
    padding-left:5%;
    padding-right:5%;
}
.brocker__content_borders{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    position:relative;
    padding-left:2%;
    padding-right:2%;
    padding-top:60px;
    padding-bottom:60px;
    @media(min-width:1300px){
        padding-top:120px;
        padding-bottom:120px;
    }
    border-left: 1px solid rgba(43, 61, 82, 0.30);
    border-right: 1px solid rgba(43, 61, 82, 0.30);
}
.brocker__content_container{
    max-width: 1600px;
}
.brocker__content_positioning{
    @media(max-width:800px){
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    @media(min-width:801px) and (max-width:1100px){
        display:grid;
        grid-template-columns:52% 42%;
        gap:6%;
        align-items:center;
        justify-content:center;
    }
    @media(min-width:1101px) and (max-width:1500px){
        display:grid;
        grid-template-columns:62% 32%;
        gap:6%;
        align-items:center;
        justify-content:center;
    }
    @media(min-width:1501px){
        display:grid;
        grid-template-columns:37% 57%;
        gap:6%;
        align-items:center;
        justify-content:center;
    }
}
.brocker__content_bg{
    @media (max-width:800px){
        opacity:0.9;
        display:block;
        width: 320.053px;
        height: 167.416px;
        transform: rotate(4.493deg);
        background-image:url('/src/assets/images/BrockersBGMobile.svg');
        background-repeat:no-repeat;
        flex-shrink: 0; 
        position:absolute;
        top:20px;
        overflow:hidden;
    }
    @media (min-width:801px) and (max-width: 1280px){
        opacity:0.9;
        display:block;
        width: 90%;
        height: 380.642px;
        transform: rotate(4.483deg);
        background-image:url('/src/assets/images/BrockersBGLaptop.svg');
        background-repeat: no-repeat;
        flex-shrink: 0;
        position:absolute;
        /* left:-20px;
        top:65px; */
        
        overflow:hidden;
    }
    @media (min-width:1281px){
        opacity:0.9;
        display:block;
        width: 90%;
        height: 600px;
        transform: rotate(4.493deg);
        background-image:url('/src/assets/images/BrockersBGLaptop.svg');
        background-repeat: no-repeat; 
        flex-shrink: 0;
        position:absolute;
        top:50px;
        overflow:hidden;
    }
}
/* .brocker__content_bg_down{
    @media (max-width:650px){
        opacity:0.9;
        width: 20%;
        height: 380.642px;
        bottom:-35%;
        left:70%;
        display:block;
        background-image:url('/src/assets/images/BrokersPageBGDownMobile.svg');
        background-repeat: no-repeat;
        flex-shrink: 0; 
        position:absolute;
        overflow:hidden;
    }
    @media (min-width:651px) and (max-width: 1500px){
        opacity:0.9;
        display:block;
        height: 380.642px;
        transform: rotate(4.483deg);
        /* background-image:url('/src/assets/images/BrockersBGLaptop.svg'); 
        background-repeat: no-repeat;
        flex-shrink: 0;
        position:absolute;
        /* left:-20px;
        top:65px; 
        overflow:hidden;
    }
    @media (min-width:1501px){
        opacity:0.9;
        display:block;
        width: 422.785px;
        height: 143.336px;
        /* transform: rotate(4.493deg); 
        background-image:url('/src/assets/images/BrokersPageBGDownDesktop.svg');
        background-repeat: no-repeat; 
        flex-shrink: 0;
        position:absolute;
        right:-10%;
        bottom:-20px;
        /* left:-50px;
        top:150px; 
        overflow:hidden;
    }
} */
.brocker__content_header{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    @media(max-width:800px){
        font-size: 20px;
        line-height: 32px;
        padding-bottom:50px;
    }
    @media(min-width:801px) and (max-width:1500px){
        font-size: 32px;
        line-height: 42px;
        padding-bottom:40px;
    }
    @media(min-width:1501px){
        font-size: 36px;
        line-height: 46px;
        padding-bottom:80px;
    }
}
.brocker__content_image{
    /* @media(max-width:800px){
        width:70%;
        height:70%;
    }
    @media(min-width:801px){
        width:90%;
        height:90%;
    } */
}
.brocker__content_gallery{
    @media(max-width:650px){
        padding-top:60px;
        gap:20px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    @media(min-width:651px) and (max-width:1500px){
        padding-top:60px;
        gap:20px;
        display:flex;
        flex-direction:column;
    }
    @media(min-width:1501px){
        display:grid;
        grid-template-columns:47% 47%;
        gap:30px;
        
    }
}
.brocker__content_gallery_element{
    border: 1px solid rgba(85, 122, 161, 0.30);
    background: #23303F;
    
    @media(max-width:650px){
        display:flex;
        align-items:center;
        justify-content:space-between;
        gap:10%;
        width:80%;
        min-width:290px;
        min-height:75px;
    }
    @media(min-width:651px) and (max-width:800px){
        display:grid;
        grid-template-columns:50% 50%;
        min-width: 340px;
        min-height: 130px;
    }
    @media(min-width:801px) and (max-width:1500px){
        display:grid;
        grid-template-columns:60% 40%;
        /* align-items:center; */
        justify-content:space-between;
        min-width: 340px;
        min-height: 130px;
    }
    @media(min-width:1501px){
        display:grid;
        grid-template-columns:60% 40%;
        /* align-items:center; */
        justify-content:space-between;
        min-width: 360px;
        min-height: 175px;
    }
}
.brocker__content_gallery_element_text{
    position:relative;
    @media(max-width:650px){
        padding:14px 0px 14px 10px;
    }
    @media(min-width:651px) and (max-width:1500px){
        padding:20px 0px 20px 35px;
    }
    @media(min-width:1501px){
        padding:40px 0px 40px 35px;
    }
}
.brocker__content_gallery_element_header{
    color: var(--light-blue-text);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media(max-width:650px){
        font-size: 16px;
        padding-bottom:4px;
    }
    @media(min-width:651px) and (max-width:800px){
        font-size: 20px;
        padding-bottom:8px;
    }
    @media(min-width:801px) and (max-width:1500px){
        font-size: 25px;
        padding-bottom:10px;
    }
    @media(min-width:1501px){
        font-size: 30px;
        padding-bottom:14px;
    }
}
.brocker__content_gallery_element_paragraph{
    color: var(--invisible-text);
    font-style: normal;
    font-weight: 500;
    @media(max-width:800px){
        font-size: 12px;
        line-height: 12px;
    }
    @media(min-width:801px) and (max-width:1500px){
        font-size: 13px;
        line-height: 22px;
    }
    @media(min-width:1501px){
        font-size: 16px;
        line-height: 22px; /* 137.5% */
    }
}
.brocker__content_gallery_element_number{
    color: #BCC9DA;
    opacity: 0.08;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right:20px;
    @media(max-width:650px){
        font-size: 30px;
    }
    @media(min-width:651px) and (max-width:800px){
        font-size: 45px;
    }
    @media(min-width:801px) and (max-width:1500px){
        font-size: 62px;
    }
    @media(min-width:1501px){
        font-size: 72px;
    }
}