.form__container_section{
    color:white;
    position:relative;
    width:100svw;

    height: 100%; /* Высота контейнера */
    /* background-image: url('/src/assets/images/FormBG.jpg'), url('/src/assets/images/flower5BG.jpg');
    background-size: 50% 100%, 50% 100%;
    background-position: left center, right center;
    background-repeat: no-repeat; */
    /* background-image: url('/src/assets/images/FormBG.jpg');
    background-repeat: no-repeat; */
    background-image: url('/src/assets/images/New_Flowers_bg_mainSlide.jpg');
    background-position:center;
    background-repeat: no-repeat;

}
.borders{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position:relative;
}
.form__borders{
    display:flex;
    /* align-items:center;
    justify-content:center; */
    flex-direction:column;
    position:relative;
    @media(max-width:470px){
        padding-bottom:30px;
    }
    @media(min-width:470px) and (max-width:1050px){
        max-width: 70%;
    }
    @media(min-width:1050px) and (max-width:1500px){
        max-width: 70%;
    }
    @media(min-width:1500px){
        
    }
    /* border-left: 1px solid rgba(43, 61, 82, 0.30);
    border-right: 1px solid rgba(43, 61, 82, 0.30); */
}
.form__container{
    width:100%;
    max-width:1600px;
    @media(min-width:1050px) and (max-width:1500px){
        display:grid;
        grid-template-columns:50% 50%;
    }
    @media(min-width:1500px){
        display:grid;
        grid-template-columns:40% 60%;
    }
}
.form__container_bg{
    background-image:url('/src/assets/images/illuminatorDark.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size:cover; 

    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.form__container_paddings{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:5%;
    padding-right:5%;
    max-width:1600px;
}
.form__text_container{
    text-align:center;
    @media(max-width:1050px){
        padding-bottom:35px;
    }
    @media(min-width:1050px) and (max-width:1500px){
        padding-bottom:50px;
    }
    @media(min-width:1500px){
        padding-bottom:60px;
    }
}
.form__pict_container{
    display:flex;
}
.flowerLogoWhite{
    padding-top:60px;
    color:white;
    font-weight:300;
    opacity:0.7;
}
.form_textWhite{
    color:white;
    font-weight:300;
    opacity:0.7;
}
.form__text_header{
    @media(max-width:1050px){
        padding-bottom:12px;
    }
    @media(min-width:1050px) and (max-width:1500px){
        padding-bottom:10px;
    }
    @media(min-width:1500px){
        padding-bottom:30px;
    }
}
.form__container_inputs{
    @media(max-width:1050px){
        display:flex;
        flex-direction:column;
        padding-bottom:30px;
    }
    @media(min-width:1050px) and (max-width:1500px){
        display:flex;
        flex-direction:column;
        padding-bottom:40px;
    }
    @media(min-width:1500px){
        display:flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding-bottom:50px;
    }
}
.form__input_div{
    @media(max-width:1050px){
        
    }
    @media(min-width:1050px) and (max-width:1500px){
        
    }
    @media(min-width:1500px){
        
    }
}
.form__checkboxButton_container{
    @media(max-width:1050px){
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    @media(min-width:1050px) and (max-width:1500px){
        
    }
    @media(min-width:1500px){
        display:flex;
        /* gap:20px; */
        justify-content: center;
        padding-bottom:50px;
    }
}
.form__checkbox{
   
    @media(max-width:1050px){
        padding-bottom:30px;
    }
    @media(min-width:1050px) and (max-width:1500px){
        padding-bottom:60px;
    }
    @media(min-width:1500px){
        
    }
}
.form__container_button{
    padding-bottom:60px;
}
.form__button{
    border: 1px solid rgba(255, 255, 255, 0.30);
    @media(max-width:1050px){
        padding: 22px 74px;
    }
    @media(min-width:1050px) and (max-width:1500px){
        padding: 24px 52px;
    }
    @media(min-width:1500px){
        padding: 24px 60px;
    }
}
.form__pict_container{
    display:grid;
    grid-template-columns:50% 50%;
}

.pict1{
    background-image:url('/src/assets/images/flower4.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size:cover; 

    @media(max-width:1050px){
        max-height:300px;
        min-height:200px;
    }
    @media(min-width:1050px) and (max-width:1500px){
        height:100%;
    }
    @media(min-width:1500px){
        height:auto;
    }
    /* border: 1px solid red; */
}
.pict2{
    @media(max-width:1050px){
        max-height:300px;
        min-height:200px;
    }
    @media(min-width:1050px) and (max-width:1500px){
        height:auto;
    }
    @media(min-width:1500px){
        height:auto;
    }
    background-image:url('/src/assets/images/flower5.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size:cover; 
    /* border: 1px solid red; */
}
