.container{
    padding: 0; 
    color: #ffffff; 
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    grid-template-columns: repeat(5, minmax(0, 1fr)); 
    /* gap: 5%;  */
    width: 70%;

    @media (max-width: 1050px) { 
    display: none; 
    }
    @media(min-width: 1050px){
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        letter-spacing: 1.2px;
    }
}
/* 'm-0 gap-4  not-italic list-none' */
.nav__link{
    @media(max-width: 1050px){
        padding-top:24px;
    }
}

.nav__link:hover{
    color: #227CE4;
    @media(max-width: 1050px){
        color:#227CE4;
        background-color:#28394c;
    }
}
.active{
    cursor:default;
    color: #227CE4;
    font-weight:400;
}